@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    background-color:#212A31;
    height: 100%;
    width: 100%;
  
  }
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
    
  }
nav h3 {
    margin: 1rem;
    cursor: pointer;
    color: #440054;
    
    border-radius: 5px;
    background-size: 50px;
  }
  nav h3:hover {
    color: #CF9FFF;
  }


  input.input-error,
select.input-error {
  border-color: #fc8181;
}
.fixed-button {
  position: fixed;
  bottom: 2rem; /* İsteğinize göre ayarlayabilirsiniz */
  right: 2rem; /* İsteğinize göre ayarlayabilirsiniz */
  z-index: 10;
}

.crop-container {
  position: relative;
  width: 236px;
  height: 236px;

  background: linear-gradient(to right, #cbd4e1 8px, transparent 8px) 0 0,
    linear-gradient(to right, #cbd4e1 8px, transparent 8px) 0 100%,
    linear-gradient(to left, #cbd4e1 8px, transparent 8px) 100% 0,
    linear-gradient(to left, #cbd4e1 8px, transparent 8px) 100% 100%,
    linear-gradient(to bottom, #cbd4e1 8px, transparent 8px) 0 0,
    linear-gradient(to bottom, #cbd4e1 8px, transparent 8px) 100% 0,
    linear-gradient(to top, #cbd4e1 8px, transparent 8px) 0 100%,
    linear-gradient(to top, #cbd4e1 8px, transparent 8px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 70px 70px;
}
.reactEasyCrop_CropArea {
  color: rgba(255, 255, 255, 0.8) !important;
}

