@tailwind base;
@tailwind components;
@tailwind utilities;

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
  }
nav h3 {
    margin: 1rem;
    cursor: pointer;
    color: #440054;
    background-color: aliceblue;
    border-radius: 5px;
    background-size: 50px;
  }
  nav h3:hover {
    color: #CF9FFF;
  }


  input.input-error,
select.input-error {
  border-color: #fc8181;
}
